<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- Keyboard listener is based on Linux input subsystem -->
    <arg name="keyboard_file" default="/dev/input/event3" />

    <arg name="vel_frame" default="velodyne" />
    <arg name="imu_frame" default="imu" />
    <arg name="world_frame" default="world" />

    <arg name="mode" default="play" />
    <!--<arg name="mode" default="observation" />-->

    <!-- default 10Hz, the same as LiDAR -->
    <arg name="fps" default="8" />
    <!-- for learning node training -->
    <!--<arg name="fps" default="0.5" />-->

    <!-- static scenario-->
    <!--城市道路十字路口-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0017_sync"/>-->
    <!--乡村道路十字路口-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0060_sync"/>-->

    <!-- move scenario-->
    <!--铁路旁-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0001_sync"/>-->
    <!--城郊道路-->
    <arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0005_sync"/>
    <!--城市道路-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0014_sync"/>-->
    <!--城市道路十字路口-->
    <!-- <arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0018_sync"/> -->
    <!--小镇美食街-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0091_sync"/>-->
    <!--林间道路-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0027_sync"/>-->

    <!-- without ground truth -->
    <!--复杂住宅区-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_26/2011_09_26_drive_0117_sync"/>-->
    <!--红绿灯路口-->
    <!--<arg name="kitti_data_path" default="$(find kitti_ros)/../../data/2011_09_29/2011_09_29_drive_0026_sync"/>-->

    <arg name="filter_by_camera_angle" default="true"/>
    <!--<arg name="filter_by_camera_angle" default="false"/>-->

    <!-- load -->
    <node name="kitti_player" pkg="kitti_ros" type="kitti_player.py" output="screen">
        <param name="keyboard_file" value="$(arg keyboard_file)"/>

        <param name="vel_frame" value="$(arg vel_frame)"/>
        <param name="imu_frame" value="$(arg imu_frame)"/>
        <param name="world_frame" value="$(arg world_frame)"/>

        <param name="mode" value="$(arg mode)"/>
        <param name="fps" value="$(arg fps)"/>
        <param name="kitti_data_path" value="$(arg kitti_data_path)"/>

        <!-- []  means no forground objects -->
        <!--<rosparam param="care_objects">[ ]</rosparam>-->
        <rosparam param="care_objects">['Car','Van','Truck','Pedestrian','Sitter','Cyclist','Tram','Misc']</rosparam>
        <!--<rosparam param="care_objects">['Pedestrian']</rosparam>-->
        <!--<rosparam param="care_objects">['Car', 'Van', 'Truck']</rosparam>-->

        <param name="filter_by_camera_angle" value="$(arg filter_by_camera_angle)"/>
    </node>


</launch>
